spring:
  application:
    name: spring-projct

  datasource:
    url: jdbc:postgresql://localhost:5432/crm_db
    password: 1234
    username: salikhdev
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /docs