spring:
  application:
    name: spring-projct

  datasource:
    url: jdbc:postgresql://localhost:5444/social_media
    password: 1234
    username: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: localhost
      port: 6333
      database: 0

springdoc:
  swagger-ui:
    path: /docs