spring:
  application:
    name: spring-projct

  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB

  datasource:
    url: jdbc:postgresql://172.17.0.1:5444/social_media
    password: 1234
    username: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: localhost
      port: 6333
      database: 0

springdoc:
  swagger-ui:
    path: /docs

minio:
  url: http://localhost:9000
  access-key: admin
  secret-key: password123
  bucket: social-media